{% extends "base.html" %} 
{% block content %}
<style>
    img.resize {
  max-width:15%;
  max-height:15%;
}

</style>
{% load static %}
<center>
    <img src="{% static 'img/eduardo.jpg' %}" class="rounded-circle resize mx-auto" id="retrato" alt="Foto do Eduardo">
</center>


<div class="container">
  <div class="d-flex flex-row justify-content-center">
    <h2>Formação</h2>
  </div>
  <center>
    <p>Sou formado em Química pela universidade de São Paulo-USP. Também, obtive grau de mestre em química pela mesma.</p>
  </center>  
</div>

{% endblock %}